<h1>Display your Pirate here</h1>
Pirate Name:<h2> <%= @pirate.name%> </h2>
Pirate Weight:<h2> <%= @pirate.weight%> </h2>
Pirate Height:<h2> <%= @pirate.height%> </h2>


<h1>Display your first ship here</h1>
Ship 1 Name:<h2> <%= @ship_1.name%> </h2>
Ship 1 Type:<h2> <%=@ship_1.type%> </h2>
Ship 1 Booty:<h2> <%= @ship_1.booty%> </h2>

<h1>Display your second ship here</h1>
Ship 2 Name:<h2> <%= @ship_2.name%> </h2>
Ship 2 Type:<h2> <%=@ship_2.type%> </h2>
Ship 2 Booty:<h2> <%= @ship_2.booty%> </h2>