<h1>Display your Pirate here</h1>

<div class="pirate">
  <h3>Name: <%= @pirate.name %></h3><br>
  <h4>Weight: <%= @pirate.weight %> pounds</h4><br>
  <h4>Height: <%= @pirate.height %> inches</h4>
</div><br>

<h2>Display your first ship here</h2>

<div class="ship">
    <p>Name: <%= @ship_1.name %></p><br>
    <p>Type: <%= @ship_1.type %></p><br>
    <p>Booty: <%= @ship_1.booty %></p>
  </div><br>

<h2>Display your second ship here</h2>

<div class="ship">
    <p>Name: <%= @ship_2.name %></p><br>
    <p>Type: <%= @ship_2.type %></p><br>
    <p>Booty: <%= @ship_2.booty %></p>
  </div><br>