<h2>Pirate: <%= @pirate.name%> </h2>
<h2>Pirate Weight: <%= @pirate.weight%> </h2>
<h2>Pirate Height: <%= @pirate.height%> </h2>

<h2>Ships: </h2>
<% @ships.each_with_index{ |ship, index|%>
    <h3> Ship <%= index + 1%>: <%= ship.name%></h3>
    <h3> Ship <%= index + 1%> Type: <%= ship.type%> </h3>
    <h3> Ship <%= index + 1%> Booty: <%= ship.booty%></h3>
<%}%>