<h2>Pirate Info</h2>
<p>Name: <%=@pirate[:name]%>
<p>Height: <%=@pirate[:height]%>
<p>Weight: <%=@pirate[:weight]%>


<h2>Ship 1 Info</h2>
<p>Name: <%=@pirate[:ships][0][:name]%>
<p>Type: <%=@pirate[:ships][0][:type]%>
<p>Booty: <%=@pirate[:ships][0][:booty]%>
<h2>Ship 2 Info</h2>
<p>Name: <%=@pirate[:ships][1][:name]%>
<p>Type: <%=@pirate[:ships][1][:type]%>
<p>Booty: <%=@pirate[:ships][1][:booty]%>